@mixin mobile{
    @media screen and (max-width:480px){
        @content
    }
}

@mixin tablet{
    @media screen and (max-width:768px){
        @content
    }
}

@mixin laptop{
    @media screen and (max-width:1200px){
        @content
    }
}

.form-container{
    background-color: rgb(36, 35, 35);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    .form-wrapper{
        .logo-text{
            background-color: azure;
            font-size: 35px;
            display: flex;
            align-items: center;
            gap: 10px;
            color:  black;
            width: fit-content;
            padding: 3px;
            text-align: center;
            .logo{
            width: 60px;
            height: 60px;
        }
        }
        .title{
            font-size: 30px;
            font-weight: 200;
        }
        form{
            padding: 10%;
            background-color: azure;
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            input{
                font-weight: 100;
                max-height: 40px;
                padding: 5px;
                font-size: 20px;
                background-color: transparent;
                outline: none;
                border: none;
                border-bottom: 2px solid rgb(36, 35, 35);
                color: black;
            }
            .file{
                display: flex;
                align-items: center;
                gap: 5px;
                border-bottom: 2px solid rgb(36, 35, 35) ;
                color: grey;                
                font-size: 20px;
                text-align: center;
            }
        }
        .btn{
            cursor: pointer;
            border: 1px solid black;
            display: flex;
            align-items: center;
            gap: 2px;
            font-size: 13px;
            background-color: transparent;
            outline: none;
            width: fit-content;
            padding: 2%;
            margin: auto;
            .icon{
            width: 30px;
            height: 30px;
            }
        }
        .login{
            display: flex;
            font-size: 14px;
            font-weight: 200;
        }
    }
}

.home{
    background-color: rgb(36, 35, 35);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
   .container{
    border: 1px solid white;
    width: 85%;
    height: 80%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    .sidebar{
        @include mobile{
            min-width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        flex: 1;
        border-right: 1px solid white;
        .navbar{
            display: flex;
            padding: 16px;
            align-items: center;
            justify-content:space-around;
            background-color: black;
            @include mobile{
                display: flex;
                gap: 4px;
                font-size: 12px;
            }
            .profile{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
                // @include mobile{
                //     display: none;
                // }
                }
            .selfname{
                @include mobile{
                    display: none;
                }
            }
        }
        .search{
            display: flex;
            flex-direction: column;
            @include mobile{
                // display: none;
            }
            .search-form{
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: white;
            border-radius: 20px;
            margin: 10px;
            input{
            height: 100%;
            width: 100%;
            outline-style: none;
            border: none;
        }
        }
        .search-results{
            @include mobile{
                font-size: 12px;
            }
            display: flex;
            gap: 10px;
            align-items: center; 
            margin: 20px;
            padding: 3%;
            border-bottom: 1px solid white;
            font-weight: 200;
            cursor: pointer;
        .profile{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
        }
        &:hover{
            background-color: black;
        }
    }
        }
        .chats{
            margin-top: 10px;
            @include mobile{
                width: 5px;
            }
            .search-results{
                display: flex;
                gap: 10px;
                margin: 20px;
                padding: 7% 2%;
                font-weight: 500;
                cursor: pointer;
                margin-top: -20px;
                .profile{
                    @include mobile{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;   
                display: flex;
                align-items:center;
                text-align: center;
                justify-content: center;
                justify-items: center;
                margin: auto;
                border: 1px solid wheat;
                margin-top: 20px;
                margin-left: -40px;
            }
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
            }
            &:hover{
                background-color: black;
                @include mobile{
                    background-color: transparent;
                }
            }
        
            .profile-content{
            @include mobile{
                display: none;
            }
             display: flex;
             flex-direction: column;   
             font-size: 14px;
            }
        }

    }
    }
    .chat{
        flex: 3;
        background-color: rgb(36, 35, 35);
        @include mobile{
            font-size: 12px;
        }
        .chatInfo{
            display: flex;
            background-color: black;
            padding: 16px;
            font-weight: 400;
            justify-content: space-around;
            align-items: center;
            justify-items: center;
            margin: auto;
            font-size: 18px;
            @include mobile{
                font-size: 14px;
            }
            .profile{
                margin-top: 2px;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .messages{
            height: calc(100% - 133px);
            overflow-x: hidden;
            padding: 10px;
  
        }
        .messages{
            height: calc(100% - 133px);
            overflow-x: hidden;
            padding: 10px;
        .message{
            display: flex;
            gap: 5px;
        .message-info{
            display: flex;
            flex-direction: column;
            gap: 5px;
            img{  
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
            }  
            .date{
                padding-left: 2px;
                font-size: 9px;
            }
        }
        .message-content{
            background-color: white;
            color: black;
            border-radius: 1px 10px 10px 10px;
            width: fit-content;
            padding: 6px 7px 8px 9px;
            margin-bottom: 10px;

            hr{
                opacity: 0.5;
            }

        .shared-photo{
            @include mobile{
                height: 180px;
                width: 180px;
            }
            height: 250px;
            width: 250px;
        }   
        }
        .date{
            padding-left: 2px;
            font-size: 9px;
        }  
        
       
        &.owner {
            flex-direction: row-reverse;
            .message-content{
                align-items: flex-end;
                background-color: black;
                border-radius: 10px 0px 10px 10px;
                color: white;
                padding: 6px 7px 8px 9px;

            }
        }
        }
        }
        .input{
            background-color: black;
            color: white;
            display: flex;
            height: 35px;
            padding: 10px;
            input{
                background-color: black;
                color: white;    
                width: 80%;
                outline: none;
                border: none;
                border-bottom: 1px solid white;
                height: 100%;
                font-size: 18px;
                justify-content: center;
                align-items: center;
                margin: auto;
                &::placeholder {
                    color:white;
                  }
                
            }
            .chat-icons{
                display: flex;
                gap: 6px;
                padding: 5px;
                cursor: pointer;
            }
        }
    }
   }
}